{{#extend layout title="privacy-setting" active="user-privacy-setting" path="../../" }}
{{#content "content"}}
<div>
    <div class="flex flex-wrap">
        <div class="w-full flex-auto">
            <div class="relative flex flex-col overflow-hidden bg-white rounded-lg shadow-lg mx-3 -mt-2 mb-5">
                <div class="flex-auto px-6 pt-6">
                    <h4 class="text-2xl font-medium">Privacy Setting</h4>
                </div>
                <div class="data-privacy px-6 pt-6">
                    <h4 class="mb-2 text-2xl font-medium">Account Privacy</h4>
                    <div class="form-check">
                        <input
                            class="float-left w-4 h-4 mr-2 mt-1 bg-center bg-no-repeat border border-blue-500 rounded"
                            type="checkbox" id="flexCheckDefault3">
                        <label class="text-gray-600 form-check-label" for="flexCheckDefault3">Private Account</label>
                    </div>
                    <p class="text-gray-600 mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry. Lorem Ipsum
                        has been the industry's standard dummy text ever since the 1500s, when an unknown
                        printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <hr class="text-gray-600">
                </div>

                <div class="data-privacy px-6 pt-6">
                    <h4 class="mb-2 text-2xl font-medium">Activity Status</h4>
                    <div class="form-check">
                        <input
                            class="float-left w-4 h-4 mr-2 mt-1 bg-center bg-no-repeat border border-blue-500 rounded"
                            type="checkbox" id="flexCheckDefault3">
                        <label class="text-gray-600 form-check-label" for="flexCheckDefault3">Private Account</label>
                    </div>
                    <p class="text-gray-600 mb-4">It is a long established fact that a reader will be distracted by the
                        readable content of
                        a page when looking at its layout. The point of using Lorem Ipsum is that it has a
                        more-or-less normal distribution of letters, as opposed to using 'Content here, content
                        here', making it look like readable English.</p>
                    <hr class="text-gray-600">
                </div>

                <div class="data-privacy px-6 pt-6">
                    <h4 class="mb-2 text-2xl font-medium">Story Sharing</h4>
                    <div class="form-check">
                        <input
                            class="float-left w-4 h-4 mr-2 mt-1 bg-center bg-no-repeat border border-blue-500 rounded"
                            type="checkbox" id="flexCheckDefault3">
                        <label class="text-gray-600 form-check-label" for="flexCheckDefault3">Private Account</label>
                    </div>
                    <p class="text-gray-600 mb-4">It is a long established fact that a reader will be distracted by the
                        readable content of
                        a page when looking at its layout. The point of using Lorem Ipsum is that it has a
                        more-or-less normal distribution of letters, as opposed to using 'Content here, content
                        here', making it look like readable English.</p>
                    <hr class="text-gray-600">
                </div>

                <div class="data-privacy px-6 pt-6">
                    <h4 class="mb-2 text-2xl font-medium">Photo Of You</h4>
                    <div class="form-check-input">
                        <input class="form-check-input" type="radio" id="flexCheck" type="radio" name="flexRadio"
                            id="flexRadio" checked>
                        <label class="form-check-label text-gray-600" for="flexRadio1">Add Automatically</label>
                    </div>
                    <div class="form-check-input">
                        <input class="form-check-input mt-1" type="radio" id="flexCheck" type="radio" name="flexRadio"
                            id="flexRadio">
                        <label class="form-check-label text-gray-600" for="flexRadio1">Add Manually</label>
                    </div>
                    <p class="text-gray-600 mb-4">It is a long established fact that a reader will be distracted by the
                        readable content of
                        a page when looking at its layout. The point of using Lorem Ipsum is that it has a
                        more-or-less normal distribution of letters, as opposed to using 'Content here, content
                        here', making it look like readable English.</p>
                    <hr class="text-gray-600">
                </div>

                <div class="data-privacy px-6 pt-6">
                    <h4 class="mb-2 text-2xl font-medium">Your Profile</h4>
                    <div class="form-check-input">
                        <input class="form-check-input" type="radio" id="flexCheck" type="radio" name="flexRadio1"
                            id="flexRadio1">
                        <label class="form-check-label text-gray-600" for="flexRadio1">Public</label>
                    </div>
                    <div class="form-check-input">
                        <input class="form-check-input mt-1" type="radio" id="flexCheck" type="radio" name="flexRadio1"
                            id="flexRadio1">
                        <label class="form-check-label text-gray-600" for="flexRadio1">Friend</label>
                    </div>
                    <div class="form-check-input">
                        <input class="form-check-input" type="radio" id="flexCheck" type="radio" name="flexRadio1"
                            id="flexRadio1">
                        <label class="form-check-label text-gray-600" for="flexRadio1">Specific Friend</label>
                    </div>
                    <div class="form-check-input">
                        <input class="form-check-input" type="radio" id="flexCheck" type="radio" name="flexRadio1"
                            id="flexRadio1">
                        <label class="form-check-label text-gray-600" for="flexRadio1">Only Me</label>
                    </div>
                    <p class="text-gray-600 mb-4">It is a long established fact that a reader will be distracted by the
                        readable content of
                        a page when looking at its layout. The point of using Lorem Ipsum is that it has a
                        more-or-less normal distribution of letters, as opposed to using 'Content here, content
                        here', making it look like readable English.</p>
                    <hr class="text-gray-600">
                </div>

                <div class="data-privacy px-6 pt-6">
                    <h4 class="mb-2 text-2xl font-medium">Login Notification</h4>
                    <div class="form-check-input">
                        <input class="form-check-input" type="radio" id="flexCheck" type="radio" name="flexRadio2"
                            id="flexRadio" checked>
                        <label class="form-check-label text-gray-600" for="flexRadio1">Enable</label>
                    </div>
                    <div class="form-check-input">
                        <input class="form-check-input mt-1" type="radio" id="flexCheck" type="radio" name="flexRadio2"
                            id="flexRadio">
                        <label class="form-check-label text-gray-600" for="flexRadio1">Disable</label>
                    </div>
                    <p class="text-gray-600 mb-4">It is a long established fact that a reader will be distracted by the
                        readable content of
                        a page when looking at its layout. The point of using Lorem Ipsum is that it has a
                        more-or-less normal distribution of letters, as opposed to using 'Content here, content
                        here', making it look like readable English.</p>
                    <hr class="text-gray-600">
                </div>
                <div class="flex-auto p-6 ">
                    <h4 class="text-2xl font-medium mb-2">Privacy Help</h4>
                    <a class="text-blue-500 text-lg" href="#">Support</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{/content}}
{{/extend}}